.contentsUpLoadPageSpace{
    padding-top: 20px;
}

.upLoadBox{
    width: 450px;
    height: 180px;
    border: 1px solid black;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 15px;
}

.upLoadBox > div:last-child{
    margin-top: 10px;
}

.contentsExplanation > input{
    display: block;
    width: 400px;
    height: 40px;
}

.contentsExplanation > input:last-child{
    margin-top: 10px;
}

.btnBox{
    margin-top: 10px;
    display: flex;
}

.contentsUpLoadPageBackBtn{
    margin-left: 10px;
}