

/*.title-bar{*/
/*    height: 90px;*/
/*    border-bottom: 1px solid #E6E6E6;*/
/*    min-width: auto;*/
/*    min-height: auto;*/
/*    position: relative;*/
/*    background-color: #F05454;*/
/*    color: #FFFFFF;*/
/*}*/

/*.logo {*/
/*    line-height: 90px;*/
/*    text-decoration: none solid rgb(0, 113, 235);*/
/*    vertical-align: middle;*/
/*    word-spacing: 0px;*/
/*    height: 90px;*/
/*    width: 167px;*/
/*    margin: 0 0 0 57px;*/
/*    display: inline-block;*/
/*    cursor: pointer;*/
/*    transform: none;*/
/*    transition: all 0.25s ease 0s;*/
/*    outline: rgb(51, 51, 51) dashed 0px;*/
/*    color: #FFFFFF;*/
/*}*/
/*.login-status:hover {text-decoration: underline;}*/

/*.login-status{*/
/*    font-size: 19px;*/
/*    font-weight: 700;*/
/*    line-height: 90px;*/
/*    text-decoration: none solid rgb(51, 51, 51);*/
/*    word-spacing: 0px;*/
/*    height: 90px;*/
/*    width: 76px;*/
/*    margin: 0 57px 0 57px;*/
/*    float: right;*/
/*    display: block;*/
/*    cursor: pointer;*/
/*    transform: none;*/
/*    transition: all 0.25s ease 0s;*/
/*    outline: rgb(51, 51, 51) dashed 0px;*/
/*    color: #FFFFFF;*/
/*}*/

.header {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 60px;
    border-bottom: transparent;
    background-color: rgb(26, 29, 41);
}

.logo-area {
    position: absolute;
    top: 10px;
    left: 20px;
}

.logo-icon {
    font-size: 30px;
    font-weight: 900;
    color: #f1592a;
}